<h1>Editing Post</h1>
<hr>
<div align="center"><%= form_for (@post) do |f| %>
        <div class="field">
                <%= f.label :title %>
                <%= f.text_field :title %>
        </div>
        <br>
        <div class="field">
                <%= f.label :description %>
                <%= f.text_area :description %>
        </div>
        <br>
        <div class="field">
                <%= f.label :tags %>
                <%= f.text_field :tags, :required => true %>
        </div>
        <br>
        <div class="field">
                Manifest File:<%= f.file_field :json, :required => true %>
                <%= f.hidden_field :json_cache %>
        </div>
        <br>
        <div class="field">
                Additional Files:<%= f.file_field :file, :required => false %>
                <%= f.hidden_field :file_cache %>
        </div>
        <br>
        <div class="field">
                <%= f.file_field :filetwo, :required => false %>
                <%= f.hidden_field :filetwo_cache %>
        </div>
        <br>
                <div class="field">
                <%= f.file_field :filethree, :required => false %>
                <%= f.hidden_field :filethree_cache %>
        </div>
        <br>
        <div class="field">
                <%= f.file_field :filefour, :required => false %>
                <%= f.hidden_field :filefour_cache %>
        </div>
        <br>
        <div class="field">
                <%= f.file_field :filefive, :required => false %>
                <%= f.hidden_field :filefive_cache %>
        </div>
        <br>
        <% if false %>
        <div class="field">
                <%= f.label :jsonTxt %>
                <%= f.text_area :jsonTxt %>
        </div>
        <br>
        <% end %>
        <% if false %>
	<div class="field">
                <%= f.label :data %>
                <%= f.text_area :data %>
        </div>
        <br>
	<% end %>

        <div class="actions">
                <%= f.submit "Update" %>
        </div>
<% end %></div>
